* {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei;
}

.mainwrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.mainwrapper main {
  width: 50%;
}

@media screen and (max-width: 1002px) {
  .mainwrapper main {
    width: 100%;
  }
}

.mainwrapper main .main-background-white {
  display: none;
}

@media screen and (max-width: 1002px) {
  .mainwrapper main .main-background-white {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
  }
}

.mainwrapper main .main-background {
  display: none;
}

@media screen and (max-width: 1002px) {
  .mainwrapper main .main-background {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/test.jpg");
    background-position: center center;
    background-size: cover;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

.mainwrapper main .welcome {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1002px) {
  .mainwrapper main .welcome {
    width: 100%;
  }
}

.mainwrapper main .welcome .title {
  display: block;
  width: 104px;
  height: 264px;
  background-image: url("../img/logo.png");
  margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .mainwrapper main .welcome .title {
    margin-bottom: 0;
  }
}

.mainwrapper main .welcome .nav {
  position: relative;
}

@media screen and (max-width: 480px) {
  .mainwrapper main .welcome .nav {
    display: none;
  }
}

.mainwrapper main .welcome .nav ul {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0;
  width: 400px;
}

.mainwrapper main .welcome .nav ul li {
  width: 20px;
}

.mainwrapper main .welcome .nav ul li a {
  font-size: 20px;
  color: #222;
  text-decoration: none;
  position: relative;
  font-family: FZShuTi;
  font-weight: bold;
}

.mainwrapper main .welcome .nav ul li a:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0px;
  height: 2px;
  background-color: #222;
  transition: width 0.3s ease;
}

.mainwrapper main .welcome .nav ul li a:hover {
  color: #222;
}

.mainwrapper main .welcome .nav ul li a:hover:after {
  width: 20px;
}

.mainwrapper aside {
  width: 50%;
  height: 100vh;
  background: url("../img/test.jpg") center left;
  background-size: cover;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

@media screen and (max-width: 1002px) {
  .mainwrapper aside {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    width: 0;
  }
}
